<!DOCTYPE html>
<html>
<head>
    <title>First App</title>
    <link href="./assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body><div>
    <header> 
        <h1>THIS IS MY FIRST WEBSITE IN NODE</h1>
        <%- include ('./header.ejs') %>
    </header>
    <div>
        <h2>About <strong><em>Kelvin Gwari</em></strong></h2>
    </div>
    </div>
</body>
</html>