<ul>
    <li><a href="./index">Home</a></li>
    <li><a href="https://cnn.com">News</a></li>
    <li><a href="./contact">Contact</a></li>
    <li><a href="./about">About</a></li>
    <li><a href="https://google.com">Google</a></li>
</ul>

