<ul>
    <li><a href="./index">Home</a></li>
    <li><a href="https://cnn.com">News</a></li>
    <li><a href="./contact">Contact</a></li>
    <li><a href="./about">About</a></li>
    <li><a href="https://www.upwork.com/o/profiles/users/~01aa808569f611e889/">Free profile</a></li>
    <li><a href="https://www.upwork.com/job/Need-develop-page-website-for-business-Movers-and-Packers_~01113f1bf283508ca3/">Freelance</a></li>
    <li><a href="https://www.upwork.com/job/Full-stack-web-developer-for-website_~01c82b535a3fae1f11/">Freelance</a></li>
    
    <li><a href="https://google.com">Google</a></li>
</ul>

