<!DOCTYPE html>
<html>
<head>
    <title>First App</title>
    <link href="./assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    
    <header>
        <h1>THIS IS MY FIRST WEBSITE IN NODE</h1>
        <%- include ('./header.ejs') %>
    </header>    
</body>
</html>